<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">


	<display-name>org.football</display-name>


	<!-- logging -->
<!-- 	<context-param> -->
<!-- 		<param-name>log4jConfigLocation</param-name> -->
<!-- 		<param-value>classpath:log4j.xml</param-value> -->
<!-- 	</context-param> -->
<!-- 	<context-param> -->
<!-- 		<description>Interval between config file refresh checks, in -->
<!-- 				milliseconds. If not specified, -->
<!-- 				no refresh checks will happen, which -->
<!-- 				avoids starting Log4J's watchdog thread. -->
<!-- 			</description> -->
<!-- 		<param-name>log4jRefreshInterval</param-name> -->
<!-- 		<param-value>5000</param-value> -->
<!-- 	</context-param> -->
<!-- 	<listener> -->
<!-- 		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> -->
<!-- 	</listener> -->

	<!-- context loader -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:META-INF/football/spring/*-context.xml
			</param-value>
	</context-param>

	<listener>
		<listener-class>org.football.core.listener.ApplicationContextLoaderListener</listener-class>
	</listener>

	<!-- - Servlet that dispatches request to registered handlers (Controller 
		implementations). -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/football/springmvc/application-servlet.xml
				</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- JDBC Connection -->
	<!-- <resource-ref> -->
	<!-- <res-ref-name>jdbc/datasource</res-ref-name> -->
	<!-- <res-type>javax.sql.DataSource</res-type> -->
	<!-- <res-auth>Container</res-auth> -->
	<!-- </resource-ref> -->

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<display-name>AuthenticationFilter</display-name>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>org.football.core.filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
